.line-clamp {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.line-clamp-2 {
  @extend .line-clamp;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  @extend .line-clamp;
  -webkit-line-clamp: 3;
}

.text {
  &-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
  }
}