.card-news {
  transition: all 0.2s ease;
  overflow: hidden;
  border: none;

  text-decoration: none;

  @media screen and (min-width: 769px) {
    height: 160px;

    .card-body {
      height: 160px;
    }
  }

  &:hover {
    box-shadow: 0px 2px 8px rgba($color: #000000, $alpha: 0.4);
    // border: 1px solid transparent;
    text-decoration: none;

    .news-img {
      transform: scale(1.18);
    }
  }

  .card-img {
    width: 100%;
    height: 160px;
    border-radius: 0;
    overflow: hidden;
  }

  .news-img {
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s ease;

    &.placeholder {
      background-image: url(./images/cover-pre-load.gif);
    }
  }

  .news-title {
    color: rgba(0, 0, 0, 0.84) !important;
    font-weight: 600;
    max-height: 2.5em;
    margin-bottom: 8px;
  }

  .news-brief {
    color: rgba(0, 0, 0, 0.54) !important;
    fill: rgba(0, 0, 0, 0.54) !important;
    max-height: 4.2em;
  }

  .news-content {
    color: rgba(0, 0, 0, 0.84) !important;
  }

  .news-author,
  .news-time,
  .news-source {
    padding: 0 8px;
    color: rgba(0, 0, 0, 0.84) !important;
    font-size: 0.6rem;
    line-height: 24px;
  }

  .news-source {
    background: #51cf66;
  }

  .news-author {
    background: #ffe066;
  }

  .news-time {
    background: #75aadb1a;
  }
}